<h2>Respond to booking request</h2>

<% unless @bookings.empty? %>
  <% @bookings.group_by { |booking| booking.activity }.each do |activity, bookings| %>
    <div class="mt-3 mb-2">
      <h3 class="section-title"><%= activity.name %></h3>
      <h5><%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></h5>
      <ol>
        <% bookings.group_by { |booking| booking.participant }.each do |participant, participant_bookings| %>
          <h5><li>
              <%= "#{participant.first_name} #{participant.last_name}" %></h5>
            <div class="mb-3">
              <%= link_to "Decline", decline_booking_path(participant_bookings), method: :get, class: "btn btn-outline-danger link-btn delete-edit" %>
              <%= link_to "Accept", accept_booking_path(participant_bookings), method: :get, class: "btn btn-outline-primary link-btn delete-edit" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
<% else %>
  <p>No booking yet</p>
<% end %>
