<div class="mobile-nav">
  <div class="item">
    <div class="home-icon">
      <%=  link_to activities_path do %>
          <i class="fa-solid fa-house" style="color: <%= params[:controller] == "activities" && params[:action] == "index" ? 'darkcyan' : "#6c757d" %>;"></i>
          <p class="icon-text1" style="color: #6c757d;">Home</p>
        <% end %>
    </div>
          <div class="messages-icon">
            <%= link_to chatrooms_path do %>
              <i class="fa-solid fa-message" style="color: <%= params[:controller] == "chatrooms" && params[:action] == "index" ? 'darkcyan' : "#6c757d" %>;""></i>
              <p class="icon-text2" style="color: #6c757d;">Messages</p>
            <% end %>
          </div>

          <div class="create-activity-icon">
            <%= link_to new_activity_path do %>
            <i class="fa-solid fa-square-plus" style="color: <%= params[:controller] == "activities" && params[:action] == "new" ? 'darkcyan' : "#6c757d" %>;"></i>
            <p class="icon-text3" style="color: #6c757d;" >Create</p>
            <% end %>
          </div>

        <div class="my-activity-icon">
          <%= link_to dashboard_path do  %>
          <!-- What controller I am triggering and what method is beeing called -->
          <i class="fa-solid fa-calendar-days" style="color: <%= params[:controller] == "pages" && params[:action] == "dashboard" ? 'darkcyan' : "#6c757d" %>;"></i>
          <p class="icon-text4" style="color: #6c757d;">My Activity</p>
        <% end %>
        </div>

  </div>
</div>
