
<h1 class="h1-dashboard"><i class="fa-solid fa-person-walking" style="color: #b9f2df;"></i></h1>

<!--Activities you own-->
<div data-controller="my-activity-dashboard">
  <% activity_count = @my_activities.count %>
  <h2 data-action="click->my-activity-dashboard#showMyActivity" class="btn btn-secondary mb-3"><%= activity_count > 1 ? "My activities" : "My activity" %> (<%= activity_count %>) <i class="fa-solid fa-square-caret-down"></i></h2>

  <div class="d-none" data-my-activity-dashboard-target="dropdown" >
    <% @my_activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="card-product">
          <% if activity.photos.present? %>
            <%= cl_image_tag activity.photos.first.key, class: "carousel-image", alt: "Activity Photo" %>
          <% else %>
          <!-- Use the default photo when no photos are available -->
          <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= activity.name %></h2>
            <p><%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <p><%= activity.address %></p>
            <div>
              <%= link_to activity_path(activity), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn" do %>
                <i class="fa-solid fa-delete-left"></i>
              <% end %>

              <%= link_to edit_activity_path(activity), class: "btn" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- Activities that I own and booked by participants -->
<div data-controller="my-activity-dashboard">
  <% bookings_count = @my_activity_bookings.count %>
  <h2 data-action="click->my-activity-dashboard#showMyActivity" class="btn btn-secondary mb-3"><%= bookings_count > 1 ? "My activity participants" : "My activity participan" %>(<%= bookings_count %>) <i class="fa-solid fa-square-caret-down"></i></h2>

  <div class="d-none" data-my-activity-dashboard-target="dropdown" >
    <% @my_activity_bookings.each do |booking| %>
      <%= link_to activity_path(booking.activity_id) do %>
        <div class="card-product">
          <% if booking.activity.photos.present? %>
            <%= cl_image_tag booking.activity.photos.first.key, class: "carousel-image", alt: "Activity Photo" %>
          <% else %>
          <!-- Use the default photo when no photos are available -->
          <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
          <% end %>
          <div class="card-product-infos">
            <% if booking.status == nil %>
             <% message = "is requesting to join." %>
            <% else %>
              <% message = "" %>
            <% end %>
            <h2><%= booking.activity.name %></h2>
            <p><%= "#{booking.participant.first_name} #{booking.participant.last_name}  #{message}" %></p>

            <div>
              <%= link_to "Review request", bookings_path, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!--Activities you booked as participant-->
<div data-controller="my-activity-dashboard">
  <% booking_count = @my_bookings.count %>
  <h2 data-action="click->my-activity-dashboard#showMyActivity" class="btn btn-secondary mb-3"><%= booking_count > 1 ? "My bookings" : "My booking" %>(<%= booking_count %>) <i class="fa-solid fa-square-caret-down"></i></h2>

  <div class="d-none" data-my-activity-dashboard-target="dropdown" >
    <% @my_bookings.each do |booking| %>
      <%= link_to activity_path(booking.activity_id) do %>
        <div class="card-product">
          <% if booking.activity.photos.present? %>
            <%= cl_image_tag booking.activity.photos.first.key, class: "carousel-image", alt: "Activity Photo" %>
          <% else %>
          <!-- Use the default photo when no photos are available -->
          <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= booking.activity.name %></h2>
            <p><%= booking.activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <p><%= booking.activity.address %></p>
            <% if booking.status == nil %>
              <% status = "Waiting for approval" %>
            <% elsif booking.status == false %>
              <% status = "Declined" %>
            <% else %>
              <% status = "Approved" %>
            <% end %>
            <p><%= status %></p>
            <div>
              <%= link_to activity_path(booking.activity_id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn" do %>
                <i class="fa-solid fa-delete-left"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
