<h1 class="h1-dashboard"><i class="fa-solid fa-person-walking" style="color: #b9f2df;"></i></h1>

<!--Activities you own-->
<div class="row justify-content-center m-2" data-controller="my-activity-dashboard">
  <% activity_count = @my_activities.count %>
  <button data-action="click->my-activity-dashboard#showMyActivity" class="btn btn-secondary m-2"><%= activity_count > 1 ? "My activities" : "My activity" %> (<%= activity_count %>) <i class="fa-solid fa-square-caret-down" style="color: #b9f2df;"></i></button>
  <div class="d-none" data-my-activity-dashboard-target="dropdown">
    <% @my_activities.each do |activity| %>
      <%# <%= link_to activity_path(activity) do %>
        <div class="card-product" style="height: 150px">
          <div class="card-image-holder">
          <% if activity.photos.present? %>
            <%= cl_image_tag activity.photos.first.key, class: "carousel-image", alt: "Activity Photo" %>
          </div>
          <% else %>
          <div class="card-image-holder">
          <!-- Use the default photo when no photos are available -->
            <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
          </div>
          <% end %>
          <div class="card-product-infos">
             <%= link_to activity_path(activity) do %>
            <h2><%= activity.name %></h2>
             <% end %>
            <p><%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <div class="mt-4">
              <%= link_to "Delete", activity_path(activity), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn--delete" %>
              <%= link_to "Edit", edit_activity_path(activity), class: "btn btn--edit"%>
            </div>
          </div>
        </div>
      <%# <% end %>
    <% end %>
  </div>
</div>


<!-- Activities that I own and booked by participants -->
<div class="row justify-content-center m-2" data-controller="my-activity-dashboard">
  <% bookings_count = @my_activity_bookings.count %>
  <button data-action="click->my-activity-dashboard#showMyActivity" class="btn btn-secondary m-2"><%= bookings_count > 1 ? "My activity participants" : "My activity participant" %> (<%= bookings_count %>) <i class="fa-solid fa-square-caret-down" style="color: #b9f2df;"></i></button>
  <div class="d-none" data-my-activity-dashboard-target="dropdown" >
    <% @my_activity_bookings.each do |booking| %>
      <%# <%= link_to activity_path(booking.activity_id) do %>
        <div class="card-product" style="height: 150px">
          <% if booking.participant.profile_image.attached? %>
            <div class="card-image-holder">
              <%= image_tag booking.participant.profile_image, alt: "User Profile Image" %>
             </div>
          <% else %>
           <div class="card-image-holder">
          <!-- Use the default photo when no photos are available -->
          <%= image_tag "Gym.png", class: "", alt: "Default Participant Photo" %>
          </div>
          <% end %>
          <div class="card-product-infos">
            <% if booking.status == nil %>
             <% message = "is requesting to join" %>
            <% else %>
              <% message = "" %>
            <% end %>
            <p><%= "#{booking.participant.first_name} #{booking.participant.last_name}  #{message}" %></p>
             <%= link_to activity_path(booking.activity_id) do %>
              <h2><%= booking.activity.name %></h2>
              <% end %>

            <% if booking.status == nil %>
              <div class="mt-3">
                <%= link_to "Decline", decline_booking_path(booking), method: :get, class: "btn btn--delete" %>
                <%= link_to "Accept", accept_booking_path(booking), method: :get, class: "btn btn--edit" %>
              </div>

            <% elsif booking.status == true %>
              <p class="status-text accept"><strong>Approved</strong></p>
            <% else %>
              <p class="status-text decline"><strong>Declined</strong></p>
            <% end %>
          </div>
        </div>
      <%# <% end %>
    <% end %>
  </div>
</div>

<!--Activities you booked as participant-->
<div class="row justify-content-center m-2" data-controller="my-activity-dashboard">
  <% booking_count = @my_bookings.count %>
  <button data-action="click->my-activity-dashboard#showMyActivity" class="btn btn-secondary m-2"><%= booking_count > 1 ? "My bookings" : "My booking" %> (<%= booking_count %>) <i class="fa-solid fa-square-caret-down" style="color: #b9f2df;"></i></button>
  <div class="d-none" data-my-activity-dashboard-target="dropdown" >
    <% @my_bookings.each do |booking| %>
      <%# <%= link_to activity_path(booking.activity_id) do %>
        <div class="card-product" style="height: 160px">
          <% if booking.activity.photos.present? %>
           <div class="card-image-holder">
            <%= cl_image_tag booking.activity.photos.first.key, class: "carousel-image", alt: "Activity Photo" %>
            </div>
          <% else %>
          <!-- Use the default photo when no photos are available -->
           <div class="card-image-holder">
          <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
          </div>
          <% end %>
          <div class="card-product-infos">
            <%= link_to activity_path(booking.activity_id) do %>
            <h2><%= booking.activity.name %></h2>
            <% end %>

            <p><%= booking.activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <% if booking.status == nil %>
              <p class="waiting"><strong>Waiting for approval</strong></p>
              <div class="mt-2">
                <%= link_to "Cancel", booking_path(booking.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn--delete" %>
              </div>
            <% elsif booking.status == false %>
              <p class="decline"><strong>Declined</strong></p>
            <% else %>
              <p class="accept"><strong>Approved</strong></p>
              <div class="mt-2">
                <%= link_to "Leave", booking_path(booking.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn--delete" %>
              </div>
            <% end %>
          </div>
        </div>
      <%# <% end %>
    <% end %>
  </div>
</div>
