<div class="container">
  <div class="row justify-content-center">
    <div class="mt-3 mb-0 pb-3 p-3">

      <%= simple_form_for(@activity) do |f| %>
        <% levels = ['1 - Very Easy', '2 - Easy', '3 - Moderate', '4 - Difficult', '5 - Very Difficult'] %>
        <div class="row mb-3">
          <div class="col-md-12">
              <div class="pb-1"><%= f.label :Category, required: true %></div>
              <% Category.all.each do |category| %>
                <div class="form-check">
                  <%= f.radio_button :category_id, category.id %>
                  <%= f.label :category_id, category.name, class: "form-check-label" %>
                </div>
              <% end %>
          </div>
        </div>
        <%= f.input :name, label: "Activity title" %>
        <%= f.input :address %>
        <%= f.input :date_time, as: :string, input_html: { data: { controller: "datepicker" } } %>
        <div class="mb-3">
          <div><%= f.label :difficulty, "Difficulty", required: true %></div>
          <% levels.each do |level| %>
            <div class="form-check">
              <%= f.radio_button :difficulty, level %>
              <%= f.label :difficulty, level, class: "form-check-label" %>
            </div>
          <% end %>
        </div>
        <%= f.input :equipment, :label => "What to bring" %>
        <%= f.input :max_count %>
        <%= f.input :description %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Save", class: "btn btn-success link-btn delete-edit" %>
      <% end %>
    </div>
  </div>
</div>
