<h1>This is Activity page!</h1>

<div class="container">
      <div class="cards">
      <% @activities.each do |activity| %>
            <%= link_to activity_path(activity) do %>
            <div class="custom--card mt-2">
            <p>Activity name: <%= activity.name %></p>
            <p>Address: <%= activity.address %></p>
            <p>Equipment: <%= activity.equipment %></p>
            <p>Description: <%= activity.description %></p>
            <p>Date & time: <%= activity.date_time.strftime('%d.%b.%Y at %H:%M') %></p>
            <p>Difficulty:
              <% difficulty = activity.difficulty %>
              <% max_difficulty = 5 %>
              <% (1..max_difficulty).each do |i| %>
                <% if i <= difficulty %>
                  <i class="fa-solid fa-circle"></i>
                <% else %>
                  <i class="fa-regular fa-circle"></i>
                <% end %>
              <% end %></p>
      </div>
         <% end %>
      <% end%>
    </div>
  </div>
