<!-- Select category -->
<div data-controller="bloober" class="accordions--categories mt-3">
  <button data-action="click->bloober#myFunction" class="btn btn-secondary my-1">
    Category
    <i class="fa-solid fa-square-caret-down"  style="color: #b9f2df"></i>
  </button>
  <div id="Demo1" class="w3-container d-none" data-bloober-target="dropdown">
    <% @categories.each do |category| %>
      <%= link_to activities_path(category_id: category.id) do %>
        <div class="accordions">
          <%= category.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Search button -->
<div class="row">
  <%= form_tag(activities_path, method: 'get') do %>
    <div class="search--bar pb-1">
      <%= label_tag %>
      <%= text_field_tag :query, params[:query], class: "input", placeholder: "Any activities?" %>
      <%= submit_tag 'Search', class: 'search--button' %>
    </div>
  <% end %>
</div>

<!-- Cards -->
<div class="col-12">
  <% @activities.each do |activity| %>
    <%= link_to activity_path(activity) do %>
      <div class="custom--card">
        <% if activity.photos.present? %>
          <%= cl_image_tag activity.photos.first.key, alt: "Activity Photo" %>
        <% else %>
          <!-- Use the default photo when no photos are available -->
          <%= image_tag "bar.png", alt: "Default Activity Photo" %>
        <% end %>
        <div class="pb-2 px-2">
          <h4 class="my-1 mt-2 mb-0 section-title"><%= activity.name %></h4>
          <h5 class="pb-0 mt-1"><%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></h5>
          <h6 class="mt-1"><%= activity.address %></h6>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
