<%= form_tag(activities_path, method: 'get') do %>
    <div class="search--bar">
        <%= label_tag %>
        <%= text_field_tag :query, params[:query], class: "input mb-3" ,placeholder: "Search activities" %>
        <%= submit_tag 'Search', class: 'btn btn-primary search--button' %>

    </div>
<% end %>
<br>
<div class="bloobers--container">
  <% @categories_name.each do |category| %>
    <div class="bloob" style="background-color:<%= category == params[:tag] ? '#7E73FF' : '' %>";>
      <%= link_to category, activities_path(tag: category)  %>
    </div>
  <% end %>
</div>
<style>
  .search--bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
      .search--button {
        border: 1px solid black;
        background-color: #7E73FF;
        color: white;
        margin-left: 0.5rem;
      }
  }
   .search--bar input {
        bordder:none;
        border-radius: 4px;
        padding: 8px;
        margin:15px;
      }

  .bloobers--container {
     display: inline-block;
     .bloob {
        cursor: pointer;
        display: inline-block;
        font-size: 0.7rem;
        border-radius: 50rem;
        padding: 0.1rem 0.5rem;
        background-color: #ECEAFF;
        color: #7E73FF;
        border: 1px solid #7E73FF;
        margin-right: 0.6rem;
        margin-bottom: 0.4rem;
     }
  }
  .bloob:hover {
    background-color: #7E73FF;
    color: white;
  }

</style>


<div class="container">

      <div class="cards">
      <% @activities.each do |activity| %>
            <%= link_to activity_path(activity) do %>
            <div class="custom--card mt-2">
            <p class="text-center"><%= activity.name %></p>
              <div class="m-4"><%= image_tag("bar.png") %>
            <p>Address: <%= activity.address %></p>
            <p>Equipment: <%= activity.equipment %></p>
            <p>activity creator:<%= activity.owner.first_name %></p>
            <p>Date & time: <%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <p>Difficulty:
              <% difficulty = activity.difficulty %>
              <% max_difficulty = 5 %>
              <% (1..max_difficulty).each do |i| %>
                <% if i <= difficulty %>
                  <i class="fa-solid fa-circle"></i>
                <% else %>
                  <i class="fa-regular fa-circle"></i>
                <% end %>
              <% end %></p>
              </div>
      </div>
         <% end %>
      <% end%>
    </div>
  </div>
