<%= form_tag(activities_path, method: 'get') do %>
  <div class="input-group rounded p-3">
    <%= label_tag %>
    <%= select_tag 'category_id', options_for_select(@categories.map { |c| [c.name, c.id] }, params[:category_id]), include_blank: 'All categories' %>
    <%= submit_tag "Filter", class: "btn btn-success" %>
  </div>
  <div class="form-group rounded p-2">
    <%= label_tag %>
    <%= text_field_tag :query, params[:query], class: "input mb-3" ,placeholder: "search activities" %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= simple_form_for :user, url: activities_path do |f| %>
  <%= f.input :category, collection: @categories_name, as: :radio_buttons,
  input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
<% end %>

<style>
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

</style>

<div class="container">
      <div class="cards">
      <% @activities.each do |activity| %>
            <%= link_to activity_path(activity) do %>
            <div class="custom--card mt-2">
            <p class="text-center"><%= activity.name %></p>
              <div class="m-4"><%= image_tag("bar.png") %>
            <p>Address: <%= activity.address %></p>
            <p>Equipment: <%= activity.equipment %></p>
            <p>Description: <%= activity.description %></p>
            <p>activity creator:<%= activity.owner.first_name %></p>
            <p>Date & time: <%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <p>Difficulty:
              <% difficulty = activity.difficulty %>
              <% max_difficulty = 5 %>
              <% (1..max_difficulty).each do |i| %>
                <% if i <= difficulty %>
                  <i class="fa-solid fa-circle"></i>
                <% else %>
                  <i class="fa-regular fa-circle"></i>
                <% end %>
              <% end %></p>
              </div>
      </div>
         <% end %>
      <% end%>
    </div>
  </div>
