<%= form_tag(activities_path, method: 'get') do %>
  <div class="input-group rounded p-3">
    <%= label_tag %>
    <%= select_tag 'category_id', options_for_select(@categories.map { |c| [c.name, c.id] }, params[:category_id]), include_blank: 'All categories' %>
    <%= submit_tag "Filter", class: "btn btn-success" %>
  </div>
  <div class="form-group rounded p-2">
    <%= label_tag %>
    <%= text_field_tag :query, params[:query], class: "input mb-3" ,placeholder: "search activities" %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  </div>
<% end %>

<div data-controller="bloober">
  <% @categories_name.each do |category| %>


    <div class="bloob" style="background-color:<%= category == params[:tag] ? 'red' : '' %>";>
      <%= link_to category, activities_path(tag: category)  %>
    </div>
  <% end %>
</div>

<style>
  .bloob {
    padding: 10px;
    border: 2px solid black;
  }
</style>

<div class="container">
      <div class="cards">
      <% @activities.each do |activity| %>
            <%= link_to activity_path(activity) do %>
            <div class="custom--card mt-2">
            <p class="text-center"><%= activity.name %></p>
              <div class="m-4"><%= image_tag("bar.png") %>
            <p>Address: <%= activity.address %></p>
            <p>Equipment: <%= activity.equipment %></p>
            <p>Description: <%= activity.description %></p>
            <p>activity creator:<%= activity.owner.first_name %></p>
            <p>Date & time: <%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <p>Difficulty:
              <% difficulty = activity.difficulty %>
              <% max_difficulty = 5 %>
              <% (1..max_difficulty).each do |i| %>
                <% if i <= difficulty %>
                  <i class="fa-solid fa-circle"></i>
                <% else %>
                  <i class="fa-regular fa-circle"></i>
                <% end %>
              <% end %></p>
              </div>
      </div>
         <% end %>
      <% end%>
    </div>
  </div>
