<div class="accordions--categories mt-3">
  <button onclick="myFunction('Demo1')" class="btn btn-secondary mb-3">Select a category</button>
    <div id="Demo1" class="w3-container w3-hide">
        <% @categories.each do |category| %>
        <div class="accordions">
          <%= link_to category.name, activities_path(category_id: category.id) %>
        </div>
        <% end %>
    </div>
</div>
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<style>
  .accordions--categories {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    width: 100%;
     .accordions {
        border: 2px solid #ddd;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 10px;
        border-radius: 5px;
        margin-top: 5px;
        background-color: #f1f1f1;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
      }
  }

  .accordions--categories button {
    font-size: 22px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: inherit;
    color: #000;
    font-weight: bold;
  }

</style>

    <div class="search--bar mt-2">
        <%= label_tag %>
        <%= text_field_tag :query, params[:query], class: "input mb-3" ,placeholder: "Search activities" %>
        <%= submit_tag 'Search', class: 'search--button' %>
    </div>


<br>
<div class="container">
  <div class="cards">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity) do %>
        <div class="custom--card mt-2">
          <p class="text-center"><%= activity.name %></p>
          <div class="m-4">
            <% if activity.photos.present? %>
              <%= cl_image_tag activity.photos.first.key, class: "carousel-image", alt: "Activity Photo" %>
            <% else %>
              <!-- Use the default photo when no photos are available -->
              <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
            <% end %>
            <p>Address: <%= activity.address %></p>
            <p>Equipment: <%= activity.equipment %></p>
            <p>activity creator:<%= activity.owner.first_name %></p>
            <p>Date & time: <%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></p>
            <p>Difficulty:
              <% difficulty = activity.difficulty %>
              <% max_difficulty = 5 %>
              <% (1..max_difficulty).each do |i| %>
                <% if i <= difficulty %>
                  <i class="fa-solid fa-circle"></i>
                <% else %>
                  <i class="fa-regular fa-circle"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
