<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-2 mb-3">
        <div class="m-2">
          <div class="card-body">
            <h4 class="card-title text-center mb-3">New Activity</h4>
            <%= simple_form_for(@activity) do |f| %>
              <% levels = [1,2,3,4,5] %>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div><%= f.label :Category, required: true %></div>
                  <div class="d-flex justify-content: left;"><%= f.collection_select :category_id, Category.all, :id, :name %></div>
                </div>
              </div>
              <div class="col-md-12"><%= f.input :name %></div>
              <div class="col-md-12"><%= f.input :address %></div>
              <div class="col-md-12"><%= f.input :date_time, as: :string, input_html: { data: { controller: "datepicker" } } %></div>
              <div class="col-md-12"><%= f.input :difficulty, collection: levels, required: true %></div>
              <div class="col-md-12"><%= f.input :equipment, :label => "What to bring" %></div>
              <div class="col-md-12"><%= f.input :max_count %></div>
              <div class="col-md-12"><%= f.input :description %></div>
              <div class="col-md-12"><%= f.input :photos, as: :file, input_html: { multiple: true } %></div>
              <div class="col-md-12"><%= f.submit "Save", class: "btn btn-primary" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
