<!-- Activity Image Carousel -->
<div class="col-12 description-container activity-details pb-3 mb-0">
  <div id="activityImageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Check if there are any photos; if not, display the default image -->
      <% if @activity.photos.present? %>
        <% @activity.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <!-- Display activity image using Cloudinary's 'cl_image_tag' helper -->
            <%= cl_image_tag photo.key, class: "carousel-image" %>
          </div>
        <% end %>
      <% else %>
        <!-- Use the default photo when no photos are available -->
        <div class="carousel-item active">
          <%= image_tag "bar.png", class: "carousel-image", alt: "Default Activity Photo" %>
        </div>
      <% end %>
    </div>

    <!-- Carousel navigation buttons (Previous and Next) -->
    <button class="carousel-control-prev" type="button" data-bs-target="#activityImageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#activityImageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" ariahidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row justify-content-center mt-0">
    <div class="col-12 col-md-8 mt-2 row">
      <!-- Activity Description -->
      <% if @activity.present? %>
      <h4 class="my-1 section-title"><%= @activity.name %></h4>
      <h5 class="my-1"><%= @activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></h5>

            <!-- Full Address -->
      <h6 class="mt-1 mb-2"><%= @activity.address %></h6>

        <!-- Display the owner's photo and name -->
      <a href="<%= activity_details_path(@activity) %>">
      <div class="owner-and-participants-info">
        <!-- Display the owner's photo and name -->
        <div class="owner-info">
          <strong>Organizer:</strong>
          <% if @activity.owner.profile_image.attached? %>
            <%= image_tag @activity.owner.profile_image, class: "owner-photo", alt: "Owner's Photo", style: "width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" %>
            <h5 class="owner-name" style="display: none;"><%= @activity.owner.first_name %></h5>
          <% else %>
            <!-- use a default photo if the owner doesn't have a photo -->
            <%= image_tag "user.png", class: "owner-photo", alt: "Default Owner Photo", style: "width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" %>
            <h5 class="owner-name" style="display: none;"><%= @activity.owner.first_name %></h5>
          <% end %>
        </div>

        <!-- Display only accepted participants -->
        <div class="participants-info">
          <strong>Participants:</strong>
          <div class="participant-container-row py-1">

            <% @accepted_participants.shuffle.first(5).each do |participant| %>
              <!-- Display accepted participants' images here -->
              <div class="participant-container" style="display: inline-block;">
                <div class="participant-photo">
                  <% if participant.profile_image.attached? %>
                    <%= image_tag participant.profile_image, class: "rounded-circle user-image", alt: "User Profile Image", style: "width: 40px; height: 40px;" %>
                  <% else %>
                    <!-- Use a default photo if the participant doesn't have a photo -->
                    <%= image_tag "user.png", class: "participant-image", alt: "Default Participant Photo", style: "width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" %>
                  <% end %>
                </div>
                <h5 class="participant-name" style="display: none;"><%= participant.first_name %></h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </a>

      <h5 class="mt-2 mb-0"><%= @activity.description %></h5>
      <div class="difficulty-container mt-0">
      <strong class="difficulty-label">Difficulty:</strong>
      <h5>
        <% difficulty = @activity.difficulty %>
        <% max_difficulty = 5 %>
        <% (1..max_difficulty).each do |i| %>
          <% if i <= difficulty %>
            <i class="fa-solid fa-circle"></i>
          <% else %>
            <i class="fa-regular fa-circle"></i>
          <% end %>
        <% end %>
      </div>
      </h5>
      <h5>What to bring: <%= @activity.equipment %></h5>
      <% else %>
        <p>Activity details</p>
      <% end %>

      <!-- udpated Join Button -->
      <div class="btn-container">
      <% if @activity_booked %>
        <%= link_to "Leave", booking_path(@activity_booked), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger link-btn delete-edit" %>
        <%= link_to "Chat", chatroom_path(@chatroom), class: "btn btn-success link-btn delete-edit" %>
      <% elsif current_user == @activity.owner %>
        <%= link_to "Chat", chatroom_path(@chatroom), class: "btn btn-success link-btn delete-edit" %>
      <% elsif @activity_pending %>
        <h5 class="status-text waiting"><strong>Waiting for approval</strong></h5>
        <%= link_to "Cancel", booking_path(@activity_pending), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger link-btn delete-edit" %>
      <% elsif @activity_declined %>
        <h5 class="status-text decline"><strong>Declined</strong></h5>
      <% elsif @bookings.present? && @activity.max_count.present? && @bookings.count >= @activity.max_count %>
        <h5 class="status-text full"><strong>Sorry, we are fully booked</strong></h5>
      <% else  %>
        <%= simple_form_for [@activity, @booking] do |f| %>
          <%= f.submit "Join", class: "btn btn-info link-btn delete-edit" %>
        <% end %>
      <% end %>
        <!-- Map -->
        <div class="mt-4">
          <!-- Mapbox container and data attributes -->
          <div class="map-container"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Display additional activities -->

<div class="justify-content-center mt-4">
  <div class="col-12">
    <h4 class="mb-1" style="text-align: center;">Similar Activities</h4>
    <div class="row">
      <% @activities.where(category: @activity.category).where.not(id: @activity.id).each do |activity| %>
        <div class="col-12 col-md-4 mt-1">
          <%= link_to activity_path(activity) do %> <!-- Wrap the entire card content in a link -->
            <div class="activity-card mb-2">
              <div class="card-body">
                <!-- Activity Image -->
                <% if activity.photos.present? %>
                  <%= cl_image_tag activity.photos.first.key, class: "card-img-top", alt: "Activity Photo" %>
                <% else %>
                  <!-- Use a default image if no photos are available -->
                  <%= image_tag "bar.png", class: "card-img-top", alt: "Default Activity Photo" %>
                <% end %>

                <!-- Activity Details -->
                <div class="pb-2 px-2">
                <h4 class="my-1 mt-2 mb-0 section-title"><strong><%= activity.name %></strong></h4>
                <h5 class="pb-0 mt-1"><%= activity.date_time.strftime('%^a, %d %^b, %Y at %H:%M') %></h5>
                <h6 class="mt-1"><%= activity.address %></h6>
                </div>
              </div>
            </div>
          <% end %> <!-- Close the link here -->
        </div>
      <% end %>
    </div>
  </div>
</div>
